@font-face {
    font-family: opensans;
    src: url(Schoolbell-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: opensans;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 32px;
    padding: 64px;
}

h1 {
    text-align: left;
    font-size: 28px;
    font-weight: 400;

}

h2 {
    text-align: left;
    font-size: 56px;
    font-weight: 400;

}

p {
    text-align: left;
    font-size: 24px;
    max-width: 60ch;
    font-weight: 400;

}

main {
    min-width: 90vw;
    min-height: calc(100vh - 128px);
    align-items: center;
    background-color: white;
    border-radius: 12px;
    border: 2px solid black;
}

section {
    margin: 32px;

}

article {
    height: fit-content;
    max-width: 1080px;
    margin: auto;
    display: grid;

}

article img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}


nav {
    text-align: center;
}

.but {
    text-decoration: none;
    color: #8d5b1a;
    background: #feda70;
    padding: 12px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid black;

}


footer {
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    background-color: #8d5b1a;
    border-radius: 12px;


}

img {
    max-width: 550px;
    height: 550px;
    /* object-fit: cover; */
    object-position: right;
}

.float-r {
    float: right;
    margin-right: 1rem;
}

table {
    max-width: 1080px;
    border-collapse: collapse;
    table-layout: fixed;
    align-items: center;

}

th,
td {
    border: 1px solid black;
}

tr:nth-child(odd) td:nth-child(even) tr:nth-child(even) td:nth-child(even) {
    background: #8d5b1a;
}

tr:nth-child(odd) td:nth-child(even) tr:nth-child(even) td:nth-child(odd) {
    background: #feda70;

}